body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('2.jpg!d');
    background-size: cover;
    background-position: center
}

* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    backdrop-filter: blur(20px);
    width: 50rem;
    height: 45rem;
    padding: 25px 30px;
    border-radius: 1rem;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    overflow: hidden;

}

.wrapper h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

.wrapper .input-box {
    width: 100%;
    height: 3rem;
    position: relative;
    margin-bottom: 1rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 20px 25px;
    border-radius: 40px;
    border: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);

}

.input-box i {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7)
}

.description-box {
    width: 100%;
    max-height: 16rem;
    height: 100%;
    position: relative;
    margin-bottom: 1rem;

}

.description-box textarea {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 20px 25px;
    border: none;
    border-radius: 40px;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
    border: 2px solid rgba(255, 255, 255, .2);


}

.description-box i {
    position: absolute;
    top: 10px;
    right: 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;

}

.select-files {
    margin-bottom: 2rem
}

.select-files input{
    font-size: 1rem;
}

.btn {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.753);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: white;
    font-size: 2em;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.icon-close i{
    color:#333
}